
.blog-err {
    display: block;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    height: 300px;
    z-index: 5;
    padding-top: 100px
}


.total-nav {
    margin-bottom: 0px;
    display: block;
    width: 100%;
}

.body-center {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

.top-box{
    height: 100vh;
    width: auto;
    margin-top: 0px;
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)),url(frustration.jpeg);
    /*background-attachment: fixed;*/
    background-position: center center;
    background-size: cover;
    background-color: white;
    font-family: 'Roboto';
    background-repeat: no-repeat;
}

.header-text{
    width: 100%;
    height: 30px;
    position: absolute;
    margin-top: 0px;
    margin-bottom: 0px;
    transform: translate(0%, 600%);
}

.header {
    fill: blue;
    font-size: 34px;

}

.
.startBtn {
    background-color: #fff;
    padding: 1em 3em;
    border-radius: 3px;
    text-decoration: none;
}


/*Flavor text on home page*/

.home-info {
    position: relative;
    margin-top: 0px;
    top: 35%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    margin-bottom: 40px;
    color: white;
    font-family: 'Roboto';
}

.middle-box p, .middle-box li {
    font-family: 'Roboto';
    font-size: 25px;
    list-style: none;
    margin-bottom: 20px;
    padding: 0px 15px;
    color: #6E0D25;
    text-align: center;
}

.middle-box p {
    padding-top: 50px;
}

.middle-box li {
    font-style: italic;
}



/*Middle box*/

.middle-box {
    height: 500px;
    font-family: 'Roboto';
    /*background-color: #9DD9D2;*/
}

/*Login and Signup pages*/

.info-header {
    text-align: center;
    padding-top: 60px;
    margin: 0px;
    color: #392F5A;
}

.form-container {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)),url(man-couple-people-woman.jpg);
    background-position: center center;
    background-size: cover;
    background-color: white;
    font-family: 'Roboto';
    background-repeat: no-repeat;
}

.info-form {
    width: 500px;
    height: 300px;
    margin: auto;
    background-color: #9DD9D2;
    bottom: -15%;
    position: relative;
    text-align: center;
    box-shadow: 0px 7px 30px black;
}

.info-form * {
    display: block;
}

.info-form h3 {
    margin: 0px;
    padding: 30px 0px;
    color: #392F5A;
}

.info-form input {
    width: 75%;

    margin: auto;
    margin-bottom: 15px;
    height: 35px;
}



.form-button:hover {
    background-color: #392F5A;
    color: white;
}

.form-button {
    width: 25%;
    margin: auto;
    height: 45px;
    border-radius: 15px;
    background-color: #F4D06F;
}

@keyframes error {
    from {opacity: 0;}
    to {opacity: 1;}
}

.err-msg {
    margin-top: 10px;
    color: #392F5A;
    animation-name: error;
    animation-duration: 1s;
}

.plus {
    height: 400px;
}

/*Custom nav*/

#custom-nav {
    margin-bottom: 0px;
    background-color: transparent;
    border: 0px;
}

#custom-nav a {
    color: #392F5A;
    font-size: 18px;
}

#custom-nav li {
    -webkit-transition: border-bottom .1s ease-in-out;
    transition: border-bottom .1s ease-in-out;
    border-bottom: 1px black;
}

#custom-nav a:hover {
    border-bottom: solid 1px black
}

/*Post page*/

.window-view {
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
    display: table;
}

.window-view::before {
    content: "";
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)), url(frustration.jpeg);
    background-position: center center;
    background-size: cover;
    background-color: grey;
    font-family: 'Roboto';
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    will-change: transform;
    z-index: -1;
    overflow: hidden;
}

.search {
    height: 350px;
    width: 250px;
    background-color: #75BBA7;
    position: fixed;
    font-family: 'Roboto'
}

.search-select {
    display: block;
    width: 90%;
    margin-bottom: 5px;
}

.blog-post {
    display: block;
    text-align: center;
    margin: auto;
    height: auto;
    width: 500px;
    color: #7AE7C7;
    background-color: #6C809A;
    margin-bottom: 20px;
    padding: 15px;
    opacity: .9;
}

.blog-post * {
    font-size: 15px;
    font-family: 'Roboto';
}

.blog-post span {
    font-style:italic;
}

.search-button {
    width: 120px;
    height: 40px;
    background-color: transparent;
    border: white solid 2px;
    color: white;
    margin-right: 10px;
    border-radius: 2px;

}

.search-button:hover {
    background-color: black;
    color: white;
    border: black solid 2px;
}

/*Modal styling*/

modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.15);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-window:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-window>div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 2rem;
  background: #fff;
  color: #444;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal-close:hover {
  color: #000;
}

.modal.form {
    width: 50%;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    margin-top: 15px;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: #75BBA7;
}



.modal * {
    margin-left: 5%;
}

.modal-container {
    display: table;
    width: 100%;
    height: 100%;
    }

.form {
    width: 50%;
    height: 500px;
    margin: auto;
}

.modal-stuff{
    display: block;
    margin-bottom: 10px;
}


.head {
    width: 45%;
    display: inline-block;
}

.close-button {
    display: inline-block;
    position: relative;
    left: 80px;
    width: 90px;
    margin-top: 15px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
     background-color: transparent;
}

.modal-text {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: bold;
}

label {
    color: black;
    display: block;
}

.radio {
    display: inline-block;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: absolute;
    margin-left: 15px;
}

.update-input {
    margin-left: 0px;
}

/*error messeage*/

.blog-err-container {
    height: 25%;
    width: 40%;
    background-color: black;
}

.blog-err {
    font-size: 50px;
    color: white;
}

@media only screen and (max-width: 576px) {
    .top-box{
        height: 100vh;
    }

    .close-button {
        width:50px;
        height: 40px;
    }

    .info-form {
        width: 80%;
    }
}


@media only screen and (max-width: 1050px) {

    .blog-post {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .search {
        height: 200px;
        width: 100%;
        position: fixed;
        z-index: 1;
    }

    .search h2, .search h4 {
        visibility: hidden;
        position: relative;
    }

    .search button {
        position: absolute;
    }

    .search-select {
        position: absolute;
        top: 0;
        height: 40px;
        text-align: center;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .search-select.one {
        margin-top: 10px;
    }

    .search-select.two {
        margin-top: 55px;
    }

    .search-select.three {
        margin-top: 100px;
    }

    .b1, .b2 {
        left: 0;
        margin-left: 5%;
    }

    .b1 {
        transform: translateY(73%);
    }

    .b2 {
        margin-left: 200px;
    }

    .blog-container {
        margin-top: 220px;
    }

    .modal.form {
        width: 80%;
    }
}
